
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://gitee.com/hooray/fantastic-admin
 * Github https://github.com/hooray/fantastic-admin
 */
  
footer[data-v-fb631367]{display:flex;align-items:center;justify-content:center;margin:10px 0 20px;color:var(--el-text-color-secondary);font-size:14px}footer span[data-v-fb631367],footer a[data-v-fb631367]{padding:0 5px}footer a[data-v-fb631367]{text-decoration:none;color:var(--el-text-color-secondary);transition:var(--el-transition-color)}footer a[data-v-fb631367]:hover{color:var(--el-text-color-primary)}footer .icon[data-v-fb631367]{padding:0;font-size:18px}
