
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://gitee.com/hooray/fantastic-admin
 * Github https://github.com/hooray/fantastic-admin
 */
  
.user_list_box[data-v-dad6ccef]{padding:12px 32px}.user_list_box .search_add_card[data-v-dad6ccef]{display:flex;align-items:center;justify-content:space-between}.user_list_box .search_add_card .condition_name[data-v-dad6ccef]{margin-bottom:10px;color:#20295a;font-weight:400;font-size:13px}.user_list_box .search_add_card[data-v-dad6ccef] .el-input__wrapper,.user_list_box .search_add_card[data-v-dad6ccef] .el-select__wrapper{border-radius:8px;background-color:#f4f4f5;box-shadow:none;color:#9fa3b8;font-size:13px;font-weight:400px}.user_list_box .table_card[data-v-dad6ccef]{margin-top:10px}.user_list_box .table_card[data-v-dad6ccef] .el-table{--el-table-border: 0px solid var(--el-table-border-color)}
