
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://gitee.com/hooray/fantastic-admin
 * Github https://github.com/hooray/fantastic-admin
 */
  
.add-manager[data-v-525ce095]{max-height:65vh;overflow-y:auto}.flex-start[data-v-525ce095]{display:flex;justify-content:space-between}.access-list[data-v-525ce095],li[data-v-525ce095]{list-style:none;margin-bottom:16px}
